body{
    background-color:darkslategrey;
}
.container-fluid{
    background-color: darkslategrey;
    
}


.btn-add-task{
    background-color: rgb(232, 232, 68);
    
}

.list-group-item{
    margin-right: 2rem;
}

.btn1{
    margin-left: 1rem;
    border: none;
    background-color: red;
    margin-bottom: 1rem;
}